body {
  background: #1a2325;
  width:1250px;
  height: 2950px;
}
article {
    width: 1250px;
    height: 1000px;
    border-left: 76px;
    border-right: 76px;
    border-bottom: 100px solid #31393b;
    border-top: 100px;
    border-style: solid;
    border-color: #1a2325;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section {
    width: 380px;
    height: 470px;
    border-bottom: 2px dotted #31393b;
}
h1 {
    position: article;
    float: left;
    color:#ffffff;
    font-size:  36px;
    font-family: Quatro Slab;
    font-weight: Regular;
    width: 260px;
    height: 80px;
}
h2 {
    position: article;
    float: left;
    width: 260px;
    height: 80px;
    color:  #555a5b;
    font-size:  16px;
    font-family: LFT Etica;
    font-weight: Book;
}
p {
    position: article;
    float: left;
    width: 50%;
    color:  #abadad;
    font-size:  16px;
    font-family: LFT Etica;
    font-weight: Regular;
    line-height: 1em;
}
h3 {
    position: article;
    float: left;
    width: 50%;
    color:  #01bfc1;
    font-size:  16px;
    font-family: LFT Etica;
    font-weight: Regular;
    text-decoration: none;
    display: inline-block;
}
h4 {
    position: article;
    clear: left;
    width: 50%;
    color:  #ffffff;
    font-size:  24px;
    font-family: Quatro Slab;
    font-weight: Regular;
}
button {
    position: article;
    padding: 14px 25px;
    background-color: #01ccce;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: SemiBold;
    font-family: LFT Etica;
    text-decoration: none;
    display: inline-block;
}
img {
    position: article;
    width: 640px;
    height: 800px;
    float: right;
    top: 0px;
}
.clearfix {
    overflow: auto;
}
