.body {
  background-color:  #202020;
  float: left;
  border:1px solid #202020;
  left:50px;
  display: inline-block;
  vertical-align: top;
  width:50%;
}
.img {
  margin-left:300px;
  width:300px;
  height:500px;
  margin:20px auto;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        -box-sizing: border-box;
  top:50px;
  left:50px;
  border: 3px solid #ffffff;
  display: inline-block;
  vertical-align: top;
  width:50%;
.clearfix {
  overflow: auto;
  zoom:1;
}
.h1 {
    color:#ffffff;
    font-size:28px;
    font-family: Quatro Slab;
    font-weight: bold;
    border:1px solid#202020;
    margin:15px 0;
    padding:15px;
    text-align: left;
} 
.h2 {
    color:#696969;
    font-size:12px;
    font-family: LFT Etica;
    font-weight: normal
}
.p {
    color:#A9A9A9;
    font-size:12px;
    font-family: LFT Etica;
    font-weight: normal
}
.div {
    color:#48D1CC;
    font-size:12px;
    font-family: LFT Etica;
    font-weight: normal
}
.h3 {
    color:#ffffff;
    font-size:12px;
    font-family: LFT Etica;
    font-weight: normal
}
.div {
    background-color:#48D1CC;
    color: white;
    font-size:12px;
    font-family: LFT Etica;
    font-weight: normal
}