html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    background-color: #1a2325;
    border-top: 2px solid #f8695a;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    display: table;
    border-color: #1a2325;
    width: 100%;
    white-space: pre-wrap;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0px;
    text-align: start;
    color: -webkit-text;
}
body {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
article {
    max-width: 1250px;
    height: auto;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 1px solid #31393b;
    clear: both;
}
h1 {
    color:#ffffff;
    font-size: 36px;
    font-family: Quatro Slab;
    font-weight: Regular;
    line-height: 1.2em;
    width: 50%;
    height: auto;
    margin-bottom: 15px;
    max-width: 500px;
}
h2 {
    width: 50%;
    color: #555a5b;
    font-size: 16px;
    font-family: LFT Etica;
    font-weight: Book;
    margin-bottom: 30px;
}
p {
    float: left;
    width: 50%;
    color:  #abadad;
    font-size: 16px;
    font-family: LFT Etica;
    font-weight: Regular;
    line-height: 1.5em;
}
h3 {
    float: left;
    color: #01bfc1;
    font-size: 16px;
    font-family: LFT Etica;
    font-weight: Regular;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px dotted #31393b;
}
h4 {
    clear: left;
    color:  #ffffff;
    float: left;
    font-size:  24px;
    font-family: Quatro Slab;
    font-weight: Regular;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 42px;
}
button {
    padding: 14px 25px;
    background-color: #01ccce;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: SemiBold;
    font-family: LFT Etica;
    text-decoration: none;
    display: inline-block;
}
img {
    position: article;
    float: right;
    height: auto;
    top: 0;
    width: 50%;
}
.clearfix {
    overflow: auto;
}
@media only screen and (max-width: 779px) {
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 36px;
    }
    img {
        width: 50%;
        height: auto;
    }
}
@media only screen and (min-width: 780px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 14px;
    }
    img {
        width: 100%;
        height: auto;
    }
}
